{% extends "base.twig" %}

{% block content %}

<h1>Введите код доступа:</h1>

<form action="/access/2" method="post">
    <input type="text" name="password">
    <input type="submit">
</form>

{% endblock %}